@page "/list/{name}/{vname}"

    <header class="myheader">
        <p>
            挑戦率: @Util.GetTryRate()% (@Util.TryChecks.Count(c => c)/@Util.TryChecks.Count())
            正解率: @Util.GetCorrectRate()% (@Util.CorrectChecks.Count(c => c)/@Util.CorrectChecks.Count())
        </p>
    </header>

    <div class="mycontent">
        <h1>@Util.ManifestName</h1>

        <table>
            <tr>
                <th>[Name]</th>
                <th>[Try]</th>
                <th>[Correct]</th>
            </tr>
            @for (int i = 0; i < Util.Names.Count; i++)
            {
                int i0 = i;
                string t = "try" + i.ToString();
                string c = "correct" + i.ToString();
                <tr>
                    <td>@Util.Names[i]</td>
                    <td>
                        <div class="form-check mycheck">
                            <input type="checkbox" class="form-check-input" id="@t" bind="@Util.TryChecks[i0]" />
                            <label class="form-check-label" for="@t">挑戦!</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check mycheck">
                            <input type="checkbox" class="form-check-input" id="@c" bind="@Util.CorrectChecks[i0]" />
                            <label class="form-check-label" for="@c">正解!</label>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>

        @functions {
            [Parameter]
            private string Name { get; set; } = "";
            [Parameter]
            private string VName { get; set; } = "";

            private bool tryFlag;

            protected override void OnInit()
            {
                base.OnInit();
                Util.SetResource(Name, VName);
            }
        }
